<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Table</title>
</head>
<body>
    <h1>Database Table Contents</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Data</th>
        </tr>
        <!-- Example static data about veggies -->
        <tr>
            <td>1</td>
            <td>Carrot</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Broccoli</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Spinach</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Tomato</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Bell Pepper</td>
        </tr>
    </table>
</body>
</html>
